<style>
    .faqpopup
      {
          box-sizing: border-box;
          position:absolute;
          height:auto;
          top: 100px;
          left: 200px;
          margin: 0 auto;
          background: #FFFFFF;
          display: none;
          border: 1.26643px solid rgba(112, 112, 112, 0.6);
          border-radius: 8.44284px;
          z-index: 99;
          padding: 15px;
          text-align: justify;
          font-family: 'Lato';
          justify-self: center;
      }
      .faqpopup h3
      {   
           font-size: 20px;
           margin-bottom: 5px;
           font-weight: bold;
      }
      .faqpopup p{
         font-size: 15px;
      }
      .line
      {
        height: 2px;
        background-color: black;
        min-width: 323px;
      }
      .popupnav
      {
        position: sticky;
      }
      .heading{
        color:rgb(26, 153, 81);
    }
      .faq-content
      {
        overflow:auto;
        height: 525px ;
        padding-right: 10px;
        
      }
      ::-webkit-scrollbar {
        display: none;
         }
         @media screen and (max-width: 480px) {
         .faqpopup
         {
            left: 5px;
            margin: 0 auto;
            right:5px;
            justify-self: center;
            width: 350px;
            height: 600px;
         }
    }
    </style>



<div class="faqpopup w-fit lg:w-[1000px] " id="faqpopup">
    <div class="flex lg:space-x-[80%] mb-[10px] popupnav space-x-[65%] lg:font-extrabold lg:py-7">
    <h1 class="text-3xl lg:font-extrabold font-bold lg:px-10">FAQ'S</h1>
    <h1 id="closefaqpopup" class="cursor-pointer font-bold text-3xl">X</h1>
  </div>
     <div class="line mb-[10px]"></div>
    <div class="faq-content mt-10">
        <h3 class="heading mt-7">Is it feasible to get a decent deal on moving services?  </h3>
    <ul>
        <li>Pickntrack.com Packers and Movers are the most cost-effective choice available! The services begin at

            Rs.5500 and vary depending on how far and how much you need to relocate. You will also receive a Best Price Guarantee! This signifies that there will be no cheaper price on the market. If you do, we will match (or beat) it and provide you with a service guarantee! Here is how much moving with Pickntrack.com will
            
            cost you. BHK TYPE - Packers & Movers Base price.</li>
        <li> 1 RK5500</li>
        <li> 1 BHK6500</li>
        <li>2 BHK9500</li>
        <li>3 BHK12500</li>
    </ul>



<h3 class="heading mt-7">Why should I pay the token before the move?</h3>
The token is used to confirm slot bookings in order to avoid last minute delays or inconveniences. The token
amount will be subtracted from the overall cost of your quote. Pay just 10% as a booking (token) and the remaining 90% on delivery only with Pickntrack.com's movers.

<h3 class="heading mt-7">Why are movers and packers' weekend and month-end charges different? </h3>
The quotation is determined by the availability of slots. Because there is a high demand for movement during the weekend and month-end, movers and packers in some cities generally charge a premium on these days. However, there are no weekend or month-end fees at Pickntrack.com.

<h3 class="heading mt-7 ">Can I reschedule my moving once I've paid the deposit?</h3>

You can reschedule your relocation by contacting your personal move coordinator, whose contact information is provided in the confirmation email. Your move coordinate will reschedule the movement as per your instruction.

<h3 class="heading mt-7">My relocation date is not fixed yet. How can I book in advance?</h3>
 You can notify your packers and movers in your city personal move coordinator to reschedule movement up to 1

days before the booked date.

<h3 class="heading mt-7 ">Will Pickntrack.com movers disassemble beds and other furniture?</h3> 

Yes, Pickntrack.com movers and packers in your area may disassemble and reassemble beds and other furniture at

no extra cost to you. However, you must notify your personal move coordinator prior to moving.

<h3 class="heading mt-7">We only have a few items to relocate. The quote is quite expensive.</h3>
 Please reach out to us at +91 9113651818. We can arrange cost-effective transportation for such movements.

 <h3 class="heading mt-7">Is it necessary to do a preliminary inspection before arranging the move?</h3>
No, quick quotes request forms are created based on the flat size/inventory list, relocation date, and distance driven.

<h3 class="heading mt-7"> Do the packing materials come with the package? Are there any extra or hidden fees?</h3>
Yes, the vendor provides all packing supplies along with labour costs, which are included in the package. Pickntrack.com offers bending quotations, so there is no risk of hidden fees.

<h3 class="heading mt-7"> Do Pickntrack.com movers provide move protection?</h3>
Yes, your shipment has been covered by team pickntrack at the time of moving for more details you can contact

your personal move coordinator. No need to purchase any addon package.

<h3 class="heading mt-7">Can I relocate my automobiles as well?</h3>
Yes, you can also relocate your any type of automobiles across the country. Special closed containers will be used
to transport your vehicle safely to your new city.

<h3 class="heading mt-7">Where does Pickntrack.com provide Movers and packers services? </h3>
Pickntrack provide more than 350+ cities as well as metro/urban/ruler areas across the country like.
<br>

Packers & Movers in Ahmedabad Packers & Movers in Aurangabad
<br>
Packers & Movers in Bangalore
<br>
Packers & Movers in Bhopal
<br>
Packers & Movers in Bhubaneswar Packers & Movers in Chandigarh
<br>
Packers & Movers in Chennai
<br>
Packers & Movers in Delhi
<br>
Packers & Movers in Gandhidham Packers & Movers in Gandhinagar
<br>
Fackers & Movers in Ghaziabad
<br>
Packers & Movers in Gwalior
<br>
Packers & Movers in Gurgaon Packers & Movers in Guwahati
<br>
Packers & Movers in Hyderabad
<br>
Packers & Movers in Indore
<br>
Packers & Movers in Jaipur
<br>
Packers & Movers in Jammu and Kashmir
<br>
Packers & Movers in Jamshedpur
<br>
Packers & Movers in Kolkata
<br>
Packers & Movers in Lucknow Packers & Movers in Mumbai
<br>
Packers & Movers in Nagpur
<br>
Packers & Movers in Noida
<br>
Packers & Movers in Pune Packers & Movers in Raipur
<br>
Packers & Movers in Ranchi
<br>
Packers & Movers in Vadodara
<br>

<h3 class="heading">Where is Pickntrack.com located in India and how to contact?
</h3>

<b>Registered & Corporate office:-</b>
<br>
Yelahanka, Bangalore, Karnataka-560064 India, Contact Number: 9113651818 
<br>
<b>Regional Offices:-</b>
<br>
Delhi-
<br>
Kolkata- Mumbai-
<br>
Pune
<br>
Ranchi

    </div>
  
  </div> 
