<style>
    .privacypopup
      {
          box-sizing: border-box;
          position:absolute;
          height: auto;
          top: 100px;
          left: 200px;
          margin: 0 auto;
          background: #FFFFFF;
          display: none;
          border: 1.26643px solid rgba(112, 112, 112, 0.6);
          border-radius: 8.44284px;
          z-index: 99;
          padding: 15px;
          text-align: justify;
          font-family: 'Lato';
          justify-self: center;
      }
      .privacypopup h3
      {   
           font-size: 20px;
           margin-bottom: 5px;
           font-weight: bold;
      }
      .privacypopup p{
         font-size: 15px;
      }
      .line
      {
        height: 2px;
        background-color: black;
        min-width: 323px;
      }
      .popupnav
      {
        position: sticky;
      }
      .privacy-content
      {
        overflow:auto;
        height: 525px ;
        padding-right: 10px;
        
      }
      ::-webkit-scrollbar {
        display: none;
         }
         @media screen and (max-width: 480px) {
         .privacypopup
         {
            left: 5px;
            margin: 0 auto;
            right:5px;
            justify-self: center;
            width: 350px;
            height: 600px;
         }
    }
    </style>




<div class="privacypopup w-fit lg:w-[1000px] " id="privacypopup">
    <div class="flex lg:space-x-[75%] mb-[10px] popupnav space-x-[27%] lg:py-7 lg:px-5 ">
    <h1 class="text-3xl lg:font-extrabold font-bold">Privacy Policy</h1>
    <h1 id="closeprivacypopup" class="cursor-pointer text-3xl lg:font-extrabold font-bold">X</h1>
  </div>
     <div class="line mb-[10px] "></div>
    <div class="privacy-content lg:mt-7 py-2">
        <hr>
        <h4>    <b> PRIVACY POLICY</b></h4>
        <p>
       
           
            Pick N Track (We or Our or Us or Company or PNT) is a company which provides various technology-related services/platforms under the brand name Pick N Track.
            <br><br>
            Please read this privacy policy carefully while accessing or using the website/mobile application of Pick N Track or any other platform/tool developed by PNT. You agree to be bound by the terms described herein. Using or accessing of Pickntracks website/mobile application/platform/tool will be considered as a deemed acceptance of this policy.
            <br><br>
            
          <b>Introduction:</b>  
            <br><br>
            This privacy policy (Privacy Policy) applies to the use or access of the domain name/website www.pickntrack.com, Pickntracks mobile application and any of the platforms/tools developed by PNT from time to time. The Privacy Policy constitutes an integral part of the agreements/terms and conditions of use between PNT and its merchants and users/customers. The website, mobile application and platforms/tools developed by Pick N Track are individually referred to as the Platform. 
            <br> <br>
            The Platform(s) inter-alia facilitates a more comfortable form of e-commerce/warehousing/relocation-(Movers & Packers) & supply-chain distribution in relation to various technology-related services including but not limited to logistics management services/solutions and checkout services (Services).
            <br><br>
            The Services would be made available to such persons who have agreed to become a user of the Platform (referred to as You or Your or Yourself or User, which term shall also include persons who are accessing the Platform merely as visitors or who undertakes any of the Service) in accordance with the Platforms terms of use as may be formulated by PNT from time to time (Terms of Use).
            <br>
            <br>
           <b>Reasonable Security Practices: </b> 
            <br><br>
            We have implemented reasonable security practices and procedures that are commensurate with the information assets being protected and with the nature of our business. While we try our best to provide security that is commensurate with the industry standards, however because of the inherent vulnerabilities of the internet, we cannot ensure or warrant the complete security of all information that is being transmitted to Us.
            <br><br>
            For the purpose of providing the Services and for other purposes identified in this Privacy Policy, we are required to collect and host certain data and information of the Users. We are committed to protecting the Personal Information (as defined below) of the Users and take all reasonable precautions for maintaining the confidentiality of the User's Personal Information.</p>
    
    <p>
        <b> Purpose:</b>
    <br><br>
        This Privacy Policy has been designed and developed to help You to understand the following:
        <br><br>
        A) The type of Personal Information (including Sensitive Personal Data or Information) that we collect from the Users;
        <br><br>
        B) The purpose of collection, means and modes of usage of such Personal Information by the Company;
        <br><br>
        C) How and to whom the Company will disclose such information;
        <br><br>
        D) How the Company will protect the Personal Information including Sensitive Personal Data or Information that is collected from the Users; and
        <br><br>
        E) How Users may access and/or modify their Personal Information.
        <br><br>
       <b> Personal Information/Sensitive Personal Data:</b>
        <br><br>
        "Personal Information" means any information that relates to the User, which, either directly or Indirectly, is capable of identifying the person concerned. "Sensitive Personal Data or Information means personal information of a User relating to password; financial information such as bank account or credit card or debit card or other payment instrument details; physical, physiological and mental health condition; sexual orientation; medical records and history; biometric information; any detail relating to the above as provided to or received by the Company for processing or storage. However, any data/information that is freely available or accessible in the public domain or furnished under the Right to Information Act, 2005 or any other law shall not qualify as Sensitive Personal Data or Information or Personal Information.
        
        <br><br>
       <b> Types of Personal Information collected by the Company:</b>
    <br><br>
    While using our Services, we may collect the following categories of Personal Information from the Users:
    <br><br>
    •Name;
    <br>
    •User ID;
    <br>
    •Email address:
    <br>
    •Address (including country and ZIP/Postal Code);
    <br>
    •Gender;
    <br>
    •Age;
    <br>
    •Phone Number:
    <br>
    •Password is chosen by the User; Geographical location;
    <br>
    •Financial account information;
    <br>
     •Any of the aforesaid information pertaining to the customer/buyer of the User, and
    <br>
    •All other personally identifiable information/details as the User may share from time to(including personally identifiable information/details of the customer/buyer of the User).
    <br><br>
    hereinafter collectively referred to as "User Information".
    <br><br>
    In order to avail of the Services, the Users may also be required to upload/share certain documents, on the Platform and/or e-mail the same to the Company. Accordingly, the term "User Information" shall also include any such documents uploaded or otherwise provided by the Users. We may also keep records of telephone calls received and made for making inquiries, orders, or other purposes for the purpose of administration of Services.
    <br><br>
     <b> Internet Use:</b>
    <br><br>
    We may also receive and/or hold information about the User's browsing history including the URL of the site that the User visited prior to visiting the Platform as well as the Internet Protocol (IP) address of each User's computer (or the proxy server a User used to access the World Wide Web), User's computer operating system and type of web browser the User is using as well as the name of User's ISP. The Platform may use temporary cookies to store certain data (that is not Sensitive Personal Data or Information) that is used by Us for the technical administration of the Platform, research and development, and for User administration. In addition,
    <br><br>
    •We do not knowingly collect Personal Information from children, and
    <br><br>
    •We may in future include other optional requests for information from the User including through User surveys in order to help Us customize the Platform to deliver personalized information to the User and for other purposes as mentioned herein. Such information may also be collected in the course of surveys/contests conducted by Us. Any such additional Personal Information will also be processed in accordance with this Privacy Policy. Purposes for which the Company may use the Information:
    <br><br>
    We will retain User Information only to the extent it is necessary to provide one or more Services, By providing your information, you consent to the collection, sharing, disclosure and usage of the information in accordance with this Privacy Policy. The information, which we collect may be utilized for various business and/or regulatory purposes including but not limited to the following purposes:
    <br><br>
    A) Registration of the User on the Platform;
    <br>
    B) Processing the User's orders/requests and provision of various Services:
    <br>
    C) Sending timely/periodical updates to the User and its customers;
    <br>
    D) Completing transactions with Users effectively and billing for the products/Services provided; E) Technical <br>administration and customization of the Platform;
    
    F) Ensuring that the Platform content is presented to the Users in an effective manner,
    <br>
    G) Delivery of personalized information and target advertisements to the User;
    <br>
    H) Improvement of Services, features and functionality of the Platform; 
    <br>
    1) Research and development and for User administration (including conducting user surveys); 
    <br>
    J) For purposes of research, analysis, business intelligence, reporting and
    <br>
    improvement/development/advancement of the Company's business, Platform and/or the Services;
    <br>
    K) Dealing with requests, enquiries, complaints or disputes and other customer care-related
    <br>
    activities including those arising out of the Users' request of the Services and all other general
    administrative and business purposes;
    <br>
    L) Communicate any changes in our Services or this Privacy Policy or the Terms of Use to the Users;
    <br>
    M) Verification of the identity of Users and performing checks to prevent fraud,
    <br>
    N) Investigating, enforcing, resolving disputes and applying our Terms of Use and Privacy Policy, either ourselves or through third-party service providers; and
    <br>
    O) To comply with applicable legal requirements and our various policies/terms.
    <br><br>
    <b> Disclosure and Transfer of User's Personal Information:</b>
    <br><br>
    We may need to disclose/transfer User's Personal Information to the following third parties:
    <br><br>
    To Government and judicial institutions/authorities, to the extent required:
    <br><br>
    A) Under the laws, rules, and regulations and/or under orders of any relevant judicial or quasi-judicial authority;
    <br><br>
    B) To protect and defend the rights or property of the Company;
    <br><br>
    C) To fight fraud and credit risk;
    <br><br>
    D) To enforce the Company's Terms of Use (to which this Privacy Policy is also a part); or
    <br><br>
    E) When the Company, in its sole discretion, deems it necessary in order to protect its rights or the
    
    rights of others.
    <br><br>
    The Company may also make all User Information accessible to its employees and data processors/third-party vendors only on a need-to-know basis. All the employees and data processors/third-party vendors, who have access to, and are associated with the processing of User Information, are obliged to respect its confidentiality. However, the Company does not disclose information, individually labelled or aggregated, obtained through Marketplace APIs on behalf of a User to other users or any outside parties, unless required by law.
    <br><br>
    Non-personally identifiable information may be disclosed to third-party ad servers, ad agencies,
    
    technology vendors and research firms to serve advertisements to the Users. The Company may
    
    also share its aggregate findings (not specific information) based on information relating to the
    
    User's internet use to prospective, investors, strategic partners, sponsors and others in order to help
    
    the growth of the Company's business.
    <br><br>
    We may also disclose or transfer the User Information, to another third party as part of the reorganization or a sale of the assets or business of the Company. Any third party to which the Company transfers or sells its assets will have the right to continue to use the Personal Information and/or other information that a User provides to Us.
    <br><br>
    <b> Links to Third-Party:</b>
    
    The links to third-party advertisements, third-party websites or any third-party electronic communication services (referred to as "Third Party Links") may be provided on the Platform which
    are operated by third parties and are not controlled by, or affiliated to, or associated with the Company unless expressly specified on the Platform.
    <br><br>
    If You access any such Third-Party Links, we request You to review the concerned website's privacy
    policy. We shall not be responsible for the policies or practices of Third-Party Links.
    <br><br>
    <b> Security Practices and Procedures:</b>
    <br><br>
    The Company adopts reasonable security practices and procedures to implement technical,
    
    operational, managerial and physical security control measures in order to protect the Personal
    
    Information in its possession from loss, misuse and unauthorized access, disclosure, alteration and destruction.
    <br>
    The Company takes adequate steps to ensure that third parties to whom the User Information may
    
    be transferred adopt reasonable level of security practices and procedures to ensure the security of
    
    such Information.
    <br><br>
    You hereby acknowledge that the Company is not responsible for any intercepted information sent via the internet, and You hereby release Us from any and all claims arising out of or related to the use of intercepted information in any unauthorized manner.
    <br><br>
    User's rights in relation to their personal information collected by the Company
    <br><br>
    All the information provided to the Company by a User, including Sensitive Personal Data or
    Information, is voluntary. User has the right to withdraw his/her/its consent at any time, in
    accordance with the terms of this Privacy Policy and the Terms of Use, but please note that
    withdrawal of consent will not be retrospective.
    <br><br>
    Users can access, modify, correct and delete the Personal Information provided by them which has been voluntarily given by the User and collected by the Company in accordance with this Privacy Policy and Terms of Use. However, if the User updates his/her information, the Company may keep a copy of the information which the User originally provided to the Company in its archives for the User documented herein. In case the User seeks to update or correct, his/her Personal Information, the User may exercise these rights by emailing the Company at companysecretary@shiprocket.in and communicating the change(s) for updating the Company's records.
    <br> In case the User does not provide his/her information or consent for the usage of Personal
    
    Information or subsequently withdraws his/her consent for the usage of the Personal Information
    
    so collected, the Company reserves the right to discontinue, in part or full, the Services/associated
    
    features and benefits for which the said information was sought. <br><br>
    
    <b>For how long do the Company keep Personal Information:</b> 
    <br><br>
    The company will retain your Personal Information for as long as needed to fulfil the purpose for which it was collected and for a reasonable period thereafter in order to comply with the audit, contractual, technical and legal requirements and/or to resolve any future disputes. We may retain aggregated or de-identified data indefinitely or to the extent allowed by applicable law.
    <br><br>
    <b> Changes to this Privacy Policy:</b>
    
    We may update this Privacy Policy from time to time. Thus, you are advised to review this page/policy periodically for any changes. Your continued usage of the Services shall constitute your acceptance of the amended/updated Privacy Policy.
    <br><br><br>
     <b> Complaints and Grievance Redressal:</b>
    <br><br>
    Any complaints, abuse or concerns with regards to content and or comment or breach of these terms/Privacy Policy shall be immediately informed to the designated Grievance Officer as mentioned below in writing or through email:
    <br><br>
    <b>Company Details Address:</b> 
    <br><br>
    Pick N Track, MFI Movers Business Park, #118 Singanayakanahalli Yelahanka Hobli Bangalore North, near Navachethana School, Bengaluru 560064, Karnataka India
    
    </p>
    </div>
  
  </div> 
