<style>
    .termspopup
      {
          box-sizing: border-box;
          position:absolute;
          height: auto;
          top: 100px;
          left: 200px;
          margin: 0 auto;
          background: #FFFFFF;
          display: none;
          border: 1.26643px solid rgba(112, 112, 112, 0.6);
          border-radius: 8.44284px;
          z-index: 99;
          padding: 15px;
          text-align: justify;
          font-family: 'Lato';
          justify-self: center;
      }
      .termspopup h3
      {   
           font-size: 20px;
           margin-bottom: 5px;
           font-weight: bold;
      }
      .termspopup p{
         font-size: 15px;
      }
      .line
      {
        height: 2px;
        background-color: black;
        min-width: 323px;
      }
      .popupnav
      {
        position: sticky;
      }
      .terms-content
      {
        overflow:auto;
        height: 525px ;
        padding-right: 10px;
        
      }
      ::-webkit-scrollbar {
        display: none;
         }
         @media screen and (max-width: 480px) {
         .termspopup
         {
            left: 5px;
            margin: 0 auto;
            right:5px;
            justify-self: center;
            width: 350px;
            height: 600px;
         }
    }
    </style>




<div class="termspopup w-fit lg:w-[1000px] " id="termspopup">
    <div class="flex lg:space-x-[65%] mb-[10px] popupnav space-x-[25%] lg:px-5 lg:py7">
    <h1 class="lg:text-3xl font-extrabold  text-xl">Terms & Conditions</h1>
    <h1 id="closetermspopup" class="cursor-pointer text-3xl font-bold lg:font-extrabold">X</h1>
  </div>
     <div class="line mb-[10px]"></div>
    <div class="terms-content lg:mt-7">
        <h2>  TERMS OF SERVICE </h2>
        <p>
         <h3> Account Terms </h3>
           
         <ul>
            <li>You must be 18 years or older to use this Service. </li>
            <li>You must provide your full legal name, current address, a valid email address, and any other information needed in order to complete the signup process.</li>
            <li>You are responsible for keeping your password secure. Pick N Track cannot and will not 
                be liable for any loss or damage from your failure to maintain the security of your
        account and password.
            </li>
            <li>You may not use the Pick N Track service for any illegal or unauthorized purpose nor
        
                may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws) as well as the laws of India.</li>
            <li>You are responsible for all activity and content (data, graphics, photos, links) that is
                uploaded under your Pick N Track account.</li>
            <li>You must not transmit any worms or viruses or any code of a destructive nature. </li>
            <li>A breach or violation of any of the Account Terms as determined in the sole discretion of Pick N Track will result in an immediate termination of your services.</li>
            
         </ul>
        
        <br><br>
        <h3>General Conditions </h3> 
        You must read, agree with and accept all of the terms and conditions contained in this User
        Agreement and the Privacy Policy before you may become a member of Pick N Track.
        
        <ul>
            <li>We reserve the right to modify or terminate the Service for any reason, without notice at any time. </li>
            <li>We reserve the right to refuse service to anyone for any reason at any time.</li>
            <li>Your use of the Service is at your sole risk. The Service is provided on an "as is" and "as
                available" basis without any warranty or condition, express, implied or statutory.</li>
            <li>Pick N Track does not warrant that the service will be uninterrupted, timely, secure, or
        
                error-free.</li>
            <li>Pick N Track does not warrant that the results that may be obtained from the use of the service will be accurate or reliable.</li>
            <li>You understand that your Content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.</li>
            <li> We may, but have no obligation to, remove Content and Accounts containing Content
        
                that we determine in our sole discretion are unlawful, offensive, threatening, libellous,
                
                defamatory, pornographic, obscene or otherwise objectionable or violates any party's
                
                intellectual property or these Terms of Service. </li>
            <li>Pick N Track does not warrant that the quality of any products, services, information, other material purchased or obtained by you through the Service will meet your     or
                expectations, or that any errors in the Service will be corrected</li>
            <li>You expressly understand and agree that Pick N Track shall not be liable for any direct, Indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses resulting from the use of or inability to use the service.
            </li>
            <li>
                In no event shall Pick N Track or our suppliers be liable for lost profits or any special, incidental or consequential damages arising out of or in connection with our site, our services or this agreement (however arising including negligence). You agree to indemnify and hold us and (as applicable) our parent, subsidiaries, affiliates, Pick N Track partners, officers, directors, agents, and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your breach of this Agreement or the documents it incorporates by reference, or your violation of any law or the rights of a third party.</li>
        
        
                <li>
                    Technical support is only provided to paying account holders and is only available via email and if agreed upon earlier via phone and request ticketing system. </li>
                <li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the
        
                    Service, use of the Service, or access to the Service without the express written
                    
                    permission by Pick N Track.</li>
                <li>Verbal or written abuse of any kind (including threats of abuse or retribution) of any Pick N Track customer, Pick N Track employee, member, or officer will result in immediate account termination.</li>
                <li>We do not claim any intellectual property rights over the material you provide to the
        
                    Pick N Track service.</li>
                <li>By uploading images and item description content to ShipRocket in, you agree to allow
        
                    other internet users to view them and you agree to allow Pick N Track to display and
                    
                    store them and you agree that Pick N Track can, at any time, review all the content
                    
                    submitted by you to its Service. </li>
                <li>
                    The failure of Pick N Track to exercise or enforce any right or provision of the Terms of
                   
                   Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and Pick N Track and govern your use of the Service, superseding any prior agreements between you and Pick N Track (including, but not limited to, any prior versions of the Terms of Service).</li>
                <li>You shall not purchase search engine or other pay per click keywords (such as Google
                    AdWords), or domain names that use Pick N Track or Pick N Track trademarks and/or variations and misspellings thereof.</li>
                <li> Pick N Track does not pre-screen Content and it is 
                    in their sole discretion to refuse or remove any Content that is available via the Service.
                </li>
        
                <li>Questions about the Terms of Service should be sent to support at Pick N Track dot com</li>
                
        </ul> 
        
        <b>Payment of Fees</b> 
        <ul>
            <li>There are different payment term options available, and depending on the payment term decided with Pick N Track the merchant has to pay on the pre-decided monthly,
                quarterly, half-yearly or yearly terms.</li>
            <li> The merchant has to pay with-in 7 days from the date of Invoice, or he/she risks the chance of closure/termination of the online store.</li>
            <li>
                All fees are exclusive of all state and central taxes, service, sales tax or other taxes,
                
                fees or charges now in force or enacted in the future ("Taxes").</li>
            <li> Pick N Track does not provide refunds.</li>
        </ul>
        <h3> Cancellation and Termination .</h3> 
        <ul>
            <li>Once your account is cancelled all of your Content will be immediately deleted from the
                Service. Since deletion of all data is final, please be sure that you do in fact want to cancel your account before doing so.
                </li>
            <li>We reserve the right to modify or terminate the Pick N Track service for any reason,
        
                without notice at any time. </li>
            <li>Fraud: Without limiting any other remedies, Pick N Track may suspend or terminate
        
                your account if we suspect that you (by conviction, settlement, insurance or escrow investigation, or otherwise) have engaged in fraudulent activity in connection with the
                Site.</li>
        </ul>
        
        
        <h3> Modifications to the Service and Prices</h3>
        
        <ul>
            <li>Prices for using Pick N Track are subject to change upon 14 days notice from Pick N
        
                Track Such notice may be provided at any time by posting the changes to the Pick N
                
                Track Site (pickntrack.com) or via an announcement.
                </li>
            <li>Pick N Track reserves the right at any time to time to modify or discontinue, the Service (or any part thereof) with or without notice.</li>
            <li>Pick N Track shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.</li>
        </ul>
        
         <h3> Banned restricted products and services:</h3>
        
         You shall not, directly or indirectly, offer, attempt to offer, trade or attempt to trade in any item, the dealing of which is prohibited or restricted in any manner under the provisions of any applicable law, rule, regulation or guideline for the time
         
         being in force. Without prejudice to the generality of the above, PNT does not permit hosting of following items:
         
         <ul>
            <li>
                "Securities" within the meaning of the Securities Contract Regulation
                
                Act, 1956, including shares, bonds, debentures, etc. and/or any other financial instruments/assets of any description. While this does not prevent a share broking firm to host its website with PNT, the trading of the shares through an e-store made available by PNT is prohibited.</li>
         <li>Living, dead creatures and/or the whole or any part of any animal which has been kept or preserved by any means whether artificial or natural including rugs, skins, specimens of animals, antlers, horns, hair, feathers, nails, teeth, musk, eggs, nests, other animal products of any description the sale and purchase of which is prevented or restricted in any manner by applicable laws (including those prohibited under The Wildlife Protection Act, 1972). Weapons of any description.</li>
         <li>Liquor, tobacco products, drugs, psychotropic substances, narcotics, intoxicants of any
            description, medicines, palliative/curative substances. </li>
         <li>Religious items, including books, artifacts, etc. of any description or any other such
         
            item which is likely to affect the religious sentiments of any person.</li>
         <li>"Antiquities" and "Art Treasures" in violation of the provisions of the Antiquities and Art Treasures Act, 1972("the Act").
        </li>
         <li>Used cellular phone SIM Cards. </li>
         <li>Furthermore, you agree to display and adhere to a terms of use or other user-type agreement, as well as a privacy policy, governing Your operation of Your Store and Your conduct with Your Store's customers.
        </li>
        </ul>
        
        
        
        </p>
    </div>
  
  </div> 
