<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <!-- title -->
    <title>PickNTrack</title>

    <!-- tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CSS -->
    <!-- <link rel="stylesheet" href="style.css" /> -->
  </head>

  <body>
    <!-- internal CSS -->
    <style>
      * {
        font-family: "Poppins", sans-serif;
      }
      .bg-blackish {
        background-color: #2e2e2e;
      }
      .bg-yellowish {
        background-color: #ffe1a3;
      }
      .bg-yellow-light {
        background-color: #fdf1e0;
      }

      /* slider */
      .mySlides {
        display: none;
      }

      /* Slideshow container */
      .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
      }

      /* Next & previous buttons */
      .prev,
      .next {
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        transition: 0.6s ease;
        user-select: none;
      }

      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      /* Caption text */
      .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }

      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }

      /* The dots/bullets/indicators */
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }

      .active,
      .dot:hover {
        background-color: #717171;
      }

      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      .emails
      {
        display: flex;
        justify-content: center;
      }

      @keyframes fade {
        from {
          opacity: 0.4;
        }
        to {
          opacity: 1;
        }
      }

      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .prev,
        .next,
        .text {
          font-size: 11px;
        }
      }

      /* menu */
      .bg-blur {
        backdrop-filter: blur(2px) saturate(180%);
        -webkit-backdrop-filter: blur(2px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.75);
      }
    </style>

    <!-- header section -->
    <header>
      <!-- upper -->
      <div class="bg-blackish flex justify-between">
        <div class="md:flex md:gap-5">
          <div class="flex gap-1 p-1">
            <img src="../public/images/phone-logo.png" alt="phone logo" class="h-5" />
            <p class="text-white text-sm md:text-base">
              +91 911-365-1818 / +91 953-853-1818
            </p>
          </div>

          <div class="flex gap-1 p-1">
            <img src="./public/images/email-logo.png" alt="email logo" class="h-5" />
            <a
              href="mailto:info@pickntrack.com"
              class="text-white text-sm md:text-base"
            >
              info@pickntrack.com</a
            >
          </div>
        </div>

        <div class="flex bg-yellowish items-center gap-1 p-1">
          <img src="./public/images/location-logo.png" alt="email logo" class="h-5" />
          <p class="text-sm md:text-base">Select Your City</p>
        </div>
      </div>

      <!-- lower -->
      <div>
        <!-- for mobile -->
        <div class="flex justify-between bg-yellowish p-1 lg:hidden">
          <img src="public/images/logo-small.svg" alt="" />

          <img
            src="https://img.icons8.com/ios-glyphs/48/null/menu--v1.png"
            class="h-7 cursor-pointer"
            onclick="handleMenu()"
          />

          <!-- mobile menu -->
          <div class="absolute hidden flex h-screen w-full top-0 left-0 menu">
            <div class="w-1/3 bg-blur"></div>
            <div class="w-2/3 bg-blackish">
              <button
                class="text-white text-3xl absolute right-5 top-3"
                onclick="handleMenu()"
              >
                X
              </button>
              <ul
                class="text-white flex flex-col my-24 text-2xl items-center gap-10"
              >
                <li><a href="/" class="hover:underline">Quick Enquiry Mails</a></li>
                <li><a href="/" class="hover:underline">Contact Us Mails</a></li>
                <li><a href="/" class="hover:underline">Our Subscribers</a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- for large screens -->
        <div
          class="hidden lg:flex justify-between items-center bg-yellowish py-2 px-24"
        >
          <img src="public/images/logo-big.svg" alt="logo" />
          <ul class="flex gap-10 font-bold text-lg">
            <li><a href="/adminquickmails">Quick Enquiry Mails</a></li>
            <li><a href="/admincontactusmails">Contact Us Mails</a></li>
            <li><a href="/adminemailsubscribers">Our Subscribers</a></li>
          </ul>
         
        </div>
      </div>
    </header>
    
    <% if (message == false) { %>
      <div class="emails">
        <table>
          <th>
            Subscribers
          </th>
          <%  allsubscribersemails.forEach(element => { %>
            <tr >
            <td style="border:2px solid pink"><%=element.email%></td> 
          </tr>
        <%}) %>
        </table>
      </div>
      <%} 
      else { %>
        <div class="emails">
      <p> <%=message%> </p>
    </div>
      <% } %>